[submodule "support/rules"]
	path = support/rules
	url = git://github.com/axch/rules.git
[submodule "testing"]
	path = testing
	url = git://github.com/axch/test-manager.git
[submodule "support/pattern-case"]
	path = support/pattern-case
	url = git://github.com/axch/pattern-case.git
